/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .75);
}

#slideshow-container #company-name {
  position: absolute;
  font-size: 50px;
  color: white;
 }

#slideshow-container .slideshow {
  width: 100%;
  display: block;
  z-index: -1;
  opacity: 1;
  transition: opacity 1s linear;
}

#slideshow-container .hidden {
  opacity: 0;
  display: block!important;
  position: absolute;
  transform: translate(9999px);
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#tableMap {
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

.tdMap{
    border: 2px solid black;
    width: 10%;
    height: 6%;
}

.reserved {
    background-color: red;
}

.free {
    background-color: green;
}

.empty {
    background-color: white;
}

.emptyLine {
    height: 5%;
    border-left: none;
    border-right: none;
}




